.DS_Store
.env
.logs/
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db
.vscode/
.idea/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache      
./redis/
redis/data/dump.rdb
