name: Docker Image CI

on:
  push:
    branches: ["main"]
    paths-ignore:
      - "README.md"
  pull_request:
    branches: ["main"]
    paths-ignore:
      - "README.md"

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      # Чекаут репозитория
      - uses: actions/checkout@v4

      # Настройка QEMU для поддержки разных архитектур (опционально)
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      # Настройка Docker Buildx для сборки
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      # Логин в GitHub Container Registry
      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Сборка и пуш образа
      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile
          push: true
          tags: ghcr.io/${{ github.repository_owner }}/support-bot-topic:latest
